In [53]:
import datetime as dt
from datetime import date
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn import preprocessing

# Data Input, EDA & Preprocessing

## Individual Data Input

In [54]:
price_vol = pd.read_csv('../data/Price & Volume BTC.csv')
tweets = pd.read_csv('../data/Tweets.csv')
funding_rates_1600 = pd.read_csv('../data/Funding Rates BTCUSDT 1600.csv')
funding_rates_0800 = pd.read_csv('../data/Funding Rates BTCUSDT 0800.csv')
funding_rates_0000 = pd.read_csv('../data/Funding Rates BTCUSDT 0000.csv')
google = pd.read_csv('../data/Google.csv')
transactions = pd.read_csv('../data/Transactions.csv')
unique_addresses = pd.read_csv('../data/Unique Addresses.csv')
active_addresses = pd.read_csv('../data/Active Addresses.csv')

## Data Compilation

In [55]:
# get daily ave value for twitter attributes
tweets = tweets.groupby(by="Time").mean()
tweets = tweets.reset_index()

df = pd.merge(price_vol, funding_rates_0000, on=['Time'])
df = pd.merge(df, funding_rates_0800, on=['Time'])
df = pd.merge(df, funding_rates_1600, on=['Time'])
df = pd.merge(df, google, on=['Time'])
df = pd.merge(df, active_addresses, on=['Time'])
df = pd.merge(df, unique_addresses, on=['Time'])
df = pd.merge(df, transactions, on=['Time'])
df = pd.merge(tweets, df, how="outer")
df.head()

,Time,Favorites,Retweets,Compound,Negative,Positive,Neutral,Open,Close,High,Low,Volume,Funding Rate 0000,Funding Rate 0800,Funding Rate 1600,Bitcoin_SVI,Cryptocurrency_SVI,No. of Active Addresses,No. of Unique Addresses,Transactions
0,2020-03-12,5.0,2.0,0.0772,0.091,0.100,0.809,7933.2,4802.9,7960.4,4448.6,55248355.79,0.02%,0.01%,0.01%,22.83,6.20,909601,653156.0,349978.0
1,2020-03-17,98.0,96.0,0.4019,0.000,0.114,0.886,5028.8,5316.7,5532.0,4926.1,18269210.08,-0.09%,-0.02%,0.00%,10.21,3.39,765477,540902.0,278326.0
2,2020-03-20,125.0,95.0,0.4767,0.000,0.146,0.854,6162.2,6204.4,6901.7,5661.9,37752569.82,-0.03%,-0.02%,0.00%,10.04,3.56,734614,564748.0,284594.0
3,2020-03-30,3.0,0.0,0.0803,0.061,0.071,0.869,5881.3,6394.9,6600.0,5860.0,17904828.40,-0.03%,-0.06%,-0.03%,5.92,3.63,770915,535787.0,276828.0
4,2020-03-31,186.0,142.0,0.6597,0.000,0.278,0.722,6395.0,6409.7,6520.0,6288.0,13159710.94,-0.01%,-0.01%,-0.02%,5.45,3.54,816889,546702.0,290227.0

In [56]:
print("Type of variables: ", "\n", df.dtypes)

Type of variables:
 Time                        object
Favorites                  float64
Retweets                   float64
Compound                   float64
Negative                   float64
Positive                   float64
Neutral                    float64
Open                       float64
Close                      float64
High                       float64
Low                        float64
Volume                     float64
Funding Rate 0000           object
Funding Rate 0800           object
Funding Rate 1600           object
Bitcoin_SVI                float64
Cryptocurrency_SVI         float64
No. of Active Addresses      int64
No. of Unique Addresses    float64
Transactions               float64
dtype: object

# EDA & Preprocessing

In [57]:
# Select features, the target output is'Close'
feature_pool = ['Favorites','Retweets','Compound','Negative','Positive',\
                'Neutral','Open', 'High','Low',\
                'Volume','Funding Rate 0000','Funding Rate 0800','Funding Rate 1600','Bitcoin_SVI',\
                'Cryptocurrency_SVI','No. of Active Addresses','No. of Unique Addresses','Transactions']

output = 'Close'

## Data Type Transformation

In [58]:
# Transform object type of "Funding Rate 0000", "Funding Rate 0800" and " Funding Rate 1600" to numerical type
df['Funding Rate 0000'] = df['Funding Rate 0000'].map(lambda x: float('nan') if pd.isnull(x) else float(x.replace('%','')))
df['Funding Rate 0800'] = df['Funding Rate 0800'].map(lambda x: float('nan') if pd.isnull(x) else float(x.replace('%','')))
df['Funding Rate 1600'] = df['Funding Rate 1600'].map(lambda x: float('nan') if pd.isnull(x) else float(x.replace('%','')))

## Train-Test Split

In [59]:
X, y = df.drop(output, axis=1), df[output]

# Split the data: train set: test set using = 70/30. 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
print(y_train.sum()/y_train.count(),y_test.sum()/y_test.count())

32466.546379647752 30854.837442922377

## Handle Missing Data

In [60]:
# Count missing value
print(df.isna().sum())

# check the consistency of columns with missing value between train set and the whole set
print(df[feature_pool].isnull().any().tolist()==X_train.isnull().any().tolist())
print(df[output].isnull().any().tolist()==y_train.isnull().any().tolist())

Time                         0
Favorites                  458
Retweets                   458
Compound                   458
Negative                   458
Positive                   458
Neutral                    458
Open                         0
Close                        0
High                         0
Low                          0
Volume                       0
Funding Rate 0000            0
Funding Rate 0800            0
Funding Rate 1600            0
Bitcoin_SVI                  0
Cryptocurrency_SVI           0
No. of Active Addresses      0
No. of Unique Addresses      2
Transactions                 0
dtype: int64
False
True

### Monthly Sentiment Analysis

In [61]:
tweets.insert(1, "Month", "NaN")

tweets['Month'] = tweets['Time'].str[:7]
tweets.head(10)

,Time,Month,Favorites,Retweets,Compound,Negative,Positive,Neutral
0,2020-03-12,2020-03,5.0,2.0,0.0772,0.091,0.100,0.809
1,2020-03-17,2020-03,98.0,96.0,0.4019,0.000,0.114,0.886
2,2020-03-20,2020-03,125.0,95.0,0.4767,0.000,0.146,0.854
3,2020-03-30,2020-03,3.0,0.0,0.0803,0.061,0.071,0.869
4,2020-03-31,2020-03,186.0,142.0,0.6597,0.000,0.278,0.722
5,2020-04-01,2020-04,171.0,120.0,0.5267,0.061,0.184,0.754
6,2020-04-16,2020-04,419.0,94.0,0.0000,0.000,0.000,1.000
7,2020-04-22,2020-04,73.0,18.0,0.3182,0.000,0.084,0.916
8,2020-04-30,2020-04,994.0,153.0,0.0000,0.000,0.000,1.000
9,2020-05-09,2020-05,35.0,2.0,0.0000,0.000,0.000,1.000

In [62]:
tweets = tweets.groupby(by="Month").mean()
tweets = tweets.reset_index()

In [63]:
X_train.insert(1, "Month", "NaN")
X_train['Month'] = X_train['Time'].str[:7]

X_test.insert(1, "Month", "NaN")
X_test['Month'] = X_test['Time'].str[:7]

In [64]:
df_X_train = pd.DataFrame(columns = ['Time', 'Month', 'Favorites', 'Retweets', 'Compound', \
                                 'Negative', 'Positive', 'Neutral', 'Open', 'High', \
                                 'Low', 'Volume', 'Funding Rate 0000', 'Funding Rate 0800', \
                                 'Funding Rate 1600', 'Bitcoin_SVI', 'Cryptocurrency_SVI',  'No. of Active Addresses', \
                                 'No. of Unique Addresses', 'Transactions'])

for i, row in X_train.iterrows():
    if (pd.isna(X_train.loc[i].at["Favorites"])):
        data = tweets[tweets['Month'] == X_train.loc[i].at["Month"]]
        new_row = {'Time': X_train.loc[i].at["Time"], 'Month': X_train.loc[i].at["Month"], 'Favorites': data.Favorites.values[0], 'Retweets': data.Retweets.values[0], 'Compound': data.Compound.values[0], \
                   'Negative': data.Negative.values[0], 'Positive': data.Positive.values[0], 'Neutral': data.Neutral.values[0], 'Open': X_train.loc[i].at["Open"], \
                   'High': X_train.loc[i].at["High"], 'Low': X_train.loc[i].at["Low"], 'Volume': X_train.loc[i].at["Volume"], 'Funding Rate 0000': X_train.loc[i].at["Funding Rate 0000"], \
                   'Funding Rate 0800': X_train.loc[i].at["Funding Rate 0800"], 'Funding Rate 1600': X_train.loc[i].at["Funding Rate 1600"], 'Bitcoin_SVI': X_train.loc[i].at["Bitcoin_SVI"], \
                   'Cryptocurrency_SVI': X_train.loc[i].at["Cryptocurrency_SVI"], 'No. of Active Addresses': X_train.loc[i].at["No. of Active Addresses"], 'No. of Unique Addresses': X_train.loc[i].at["No. of Unique Addresses"], \
                   'Transactions': X_train.loc[i].at["Transactions"]}
        df_X_train = df_X_train.append(new_row, ignore_index=True)
    else:
        new_row = {'Time': X_train.loc[i].at["Time"], 'Month': X_train.loc[i].at["Month"], 'Favorites': X_train.loc[i].at["Favorites"], 'Retweets': X_train.loc[i].at["Retweets"], 'Compound': X_train.loc[i].at["Compound"], \
                   'Negative': X_train.loc[i].at["Negative"], 'Positive': X_train.loc[i].at["Positive"], 'Neutral': X_train.loc[i].at["Neutral"], 'Open': X_train.loc[i].at["Open"],\
                   'High': X_train.loc[i].at["High"], 'Low': X_train.loc[i].at["Low"], 'Volume': X_train.loc[i].at["Volume"], 'Funding Rate 0000': X_train.loc[i].at["Funding Rate 0000"], \
                   'Funding Rate 0800': X_train.loc[i].at["Funding Rate 0800"], 'Funding Rate 1600': X_train.loc[i].at["Funding Rate 1600"], 'Bitcoin_SVI': X_train.loc[i].at["Bitcoin_SVI"], \
                   'Cryptocurrency_SVI': X_train.loc[i].at["Cryptocurrency_SVI"], 'No. of Active Addresses': X_train.loc[i].at["No. of Active Addresses"], 'No. of Unique Addresses': X_train.loc[i].at["No. of Unique Addresses"], \
                   'Transactions': X_train.loc[i].at["Transactions"]}
        df_X_train = df_X_train.append(new_row, ignore_index=True)

In [65]:
df_X_test = pd.DataFrame(columns = ['Time', 'Month', 'Favorites', 'Retweets', 'Compound', \
                                 'Negative', 'Positive', 'Neutral', 'Open', 'High', \
                                 'Low', 'Volume', 'Funding Rate 0000', 'Funding Rate 0800', \
                                 'Funding Rate 1600', 'Bitcoin_SVI', 'Cryptocurrency_SVI',  'No. of Active Addresses', \
                                 'No. of Unique Addresses', 'Transactions'])

for i, row in X_test.iterrows():
    if (pd.isna(X_test.loc[i].at["Favorites"])):
        data = tweets[tweets['Month'] == X_test.loc[i].at["Month"]]
        new_row = {'Time': X_test.loc[i].at["Time"], 'Month': X_test.loc[i].at["Month"], 'Favorites': data.Favorites.values[0], 'Retweets': data.Retweets.values[0], 'Compound': data.Compound.values[0], \
                   'Negative': data.Negative.values[0], 'Positive': data.Positive.values[0], 'Neutral': data.Neutral.values[0], 'Open': X_test.loc[i].at["Open"], \
                   'High': X_test.loc[i].at["High"], 'Low': X_test.loc[i].at["Low"], 'Volume': X_test.loc[i].at["Volume"], 'Funding Rate 0000': X_test.loc[i].at["Funding Rate 0000"], \
                   'Funding Rate 0800': X_test.loc[i].at["Funding Rate 0800"], 'Funding Rate 1600': X_test.loc[i].at["Funding Rate 1600"], 'Bitcoin_SVI': X_test.loc[i].at["Bitcoin_SVI"], \
                   'Cryptocurrency_SVI': X_test.loc[i].at["Cryptocurrency_SVI"], 'No. of Active Addresses': X_test.loc[i].at["No. of Active Addresses"], 'No. of Unique Addresses': X_test.loc[i].at["No. of Unique Addresses"], \
                   'Transactions': X_test.loc[i].at["Transactions"]}
        df_X_test = df_X_test.append(new_row, ignore_index=True)
    else:
        new_row = {'Time': X_test.loc[i].at["Time"], 'Month': X_test.loc[i].at["Month"], 'Favorites': X_test.loc[i].at["Favorites"], 'Retweets': X_test.loc[i].at["Retweets"], 'Compound': X_test.loc[i].at["Compound"], \
                   'Negative': X_test.loc[i].at["Negative"], 'Positive': X_test.loc[i].at["Positive"], 'Neutral': X_test.loc[i].at["Neutral"], 'Open': X_test.loc[i].at["Open"], \
                   'High': X_test.loc[i].at["High"], 'Low': X_test.loc[i].at["Low"], 'Volume': X_test.loc[i].at["Volume"], 'Funding Rate 0000': X_test.loc[i].at["Funding Rate 0000"], \
                   'Funding Rate 0800': X_test.loc[i].at["Funding Rate 0800"], 'Funding Rate 1600': X_test.loc[i].at["Funding Rate 1600"], 'Bitcoin_SVI': X_test.loc[i].at["Bitcoin_SVI"], \
                   'Cryptocurrency_SVI': X_test.loc[i].at["Cryptocurrency_SVI"], 'No. of Active Addresses': X_test.loc[i].at["No. of Active Addresses"], 'No. of Unique Addresses': X_test.loc[i].at["No. of Unique Addresses"], \
                   'Transactions': X_test.loc[i].at["Transactions"]}
        df_X_test = df_X_test.append(new_row, ignore_index=True)

In [66]:
X_test = df_X_test
X_test = X_test.drop(['Time'], axis=1)
X_test = X_test.drop(['Month'], axis=1)
X_test

,Favorites,Retweets,Compound,Negative,Positive,Neutral,Open,High,Low,Volume,Funding Rate 0000,Funding Rate 0800,Funding Rate 1600,Bitcoin_SVI,Cryptocurrency_SVI,No. of Active Addresses,No. of Unique Addresses,Transactions
0,1199.634921,155.00,0.385409,0.007032,0.134857,0.858127,50041.5,50554.6,46966.2,2.371533e+08,0.02,0.02,0.04,18.36,34.70,1026103,585806.0,241041.0
1,414.250000,96.25,0.211225,0.015250,0.067000,0.917500,7484.1,7610.0,7396.3,1.199920e+07,0.01,0.01,0.01,6.81,4.34,893187,641059.0,320055.0
2,2057.400000,340.40,0.131440,0.000000,0.058600,0.941400,44045.7,44801.8,43122.0,3.652385e+08,0.01,0.01,0.01,14.65,28.50,998247,663348.0,265804.0
3,191.500000,27.00,0.433300,0.000000,0.129000,0.871000,50442.4,51930.7,50026.6,4.505948e+08,0.01,0.01,0.00,11.86,30.68,983177,725368.0,288343.0
4,49.000000,30.00,0.345050,0.000000,0.115500,0.884500,56245.0,57858.9,55320.0,4.671002e+08,0.01,0.01,0.01,16.52,48.95,909010,700954.0,283401.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,300.000000,50.00,0.405267,0.000000,0.146000,0.854000,13557.3,14100.0,13412.8,3.520058e+07,-0.01,-0.02,-0.02,7.43,4.43,875335,613906.0,275796.0
215,414.250000,96.25,0.211225,0.015250,0.067000,0.917500,7101.3,7144.9,6953.5,1.038811e+07,0.01,0.01,0.00,6.11,3.72,844316,579437.0,284222.0
216,1123.200000,116.00,0.286780,0.016400,0.133000,0.850600,67509.4,68500.1,66171.6,4.442158e+08,0.05,0.04,0.04,21.96,45.66,1195638,796734.0,335411.0
217,15699.000000,4249.00,-0.510600,0.206000,0.096000,0.698000,63082.9,63287.1,59850.0,4.390347e+08,0.02,0.04,0.06,15.54,50.23,998333,715943.0,294029.0
218,186.000000,142.00,0.659700,0.000000,0.278000,0.722000,6395.0,6520.0,6288.0,1.315971e+07,-0.01,-0.01,-0.02,5.45,3.54,816889,546702.0,290227.0

In [67]:
X_train = df_X_train
X_train = X_train.drop(['Time'], axis=1)
X_train = X_train.drop(['Month'], axis=1)
X_train

,Favorites,Retweets,Compound,Negative,Positive,Neutral,Open,High,Low,Volume,Funding Rate 0000,Funding Rate 0800,Funding Rate 1600,Bitcoin_SVI,Cryptocurrency_SVI,No. of Active Addresses,No. of Unique Addresses,Transactions
0,487.428571,56.571429,0.133693,0.058571,0.110143,0.831286,23813.1,24125.0,22615.8,7.142792e+07,0.02,0.01,0.01,10.88,7.71,1138302,782736.0,338463.0
1,2113.750000,253.750000,0.293231,0.026500,0.124750,0.848688,34263.5,34702.9,32630.4,1.381777e+08,0.00,0.01,0.00,11.04,17.70,838472,560833.0,220269.0
2,1607.666667,305.000000,0.461933,0.000000,0.167000,0.833000,46695.8,48665.4,46285.0,3.748223e+08,0.01,0.00,0.01,15.37,35.32,966596,684529.0,278275.0
3,303.750000,79.000000,0.227450,0.000000,0.065250,0.934750,9255.0,9467.9,9230.0,2.488859e+07,0.01,0.01,0.01,5.26,6.35,1024085,702636.0,347455.0
4,254.666667,37.833333,0.117625,0.049250,0.123000,0.827750,13550.8,14060.6,13277.5,3.586149e+07,0.01,-0.02,0.00,6.65,4.24,1029970,727413.0,331673.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,283.285714,49.142857,0.002414,0.027857,0.057429,0.914571,8561.2,8973.2,8529.6,3.306107e+07,0.01,0.01,0.01,8.22,3.97,954129,686850.0,345215.0
507,1103.925926,241.740741,0.379407,0.016296,0.146444,0.837407,11336.3,11857.7,11206.6,6.848364e+07,0.04,0.03,0.03,11.13,7.02,954055,644333.0,296705.0
508,4376.454545,890.000000,0.095473,0.055545,0.097727,0.846727,40864.5,43376.7,39856.1,3.572767e+08,0.01,0.01,0.01,11.42,18.63,894265,636514.0,260810.0
509,300.000000,50.000000,0.405267,0.000000,0.146000,0.854000,12785.0,13183.0,12678.5,4.897670e+07,0.01,0.01,0.01,14.26,6.40,1048775,753892.0,339087.0
510,1543.000000,219.000000,0.169233,0.126333,0.115667,0.758000,44563.6,44565.3,43320.0,2.837444e+08,0.01,0.01,0.01,12.00,22.92,925324,677777.0,266788.0

### Unique Addresses

In [68]:
KNN_miss_filling = KNNImputer(n_neighbors=2).fit(X_train)
X_train = pd.DataFrame(KNN_miss_filling.transform(X_train), columns=feature_pool)
X_test = pd.DataFrame(KNN_miss_filling.transform(X_test), columns=feature_pool)

In [69]:
print(X_train.isna().sum())
print(X_test.isna().sum())

Favorites                  0
Retweets                   0
Compound                   0
Negative                   0
Positive                   0
Neutral                    0
Open                       0
High                       0
Low                        0
Volume                     0
Funding Rate 0000          0
Funding Rate 0800          0
Funding Rate 1600          0
Bitcoin_SVI                0
Cryptocurrency_SVI         0
No. of Active Addresses    0
No. of Unique Addresses    0
Transactions               0
dtype: int64
Favorites                  0
Retweets                   0
Compound                   0
Negative                   0
Positive                   0
Neutral                    0
Open                       0
High                       0
Low                        0
Volume                     0
Funding Rate 0000          0
Funding Rate 0800          0
Funding Rate 1600          0
Bitcoin_SVI                0
Cryptocurrency_SVI         0
No. of Active Addresses    0
No. of Unique Addresses    0
Transactions               0
dtype: int64

## Preprocessing

In [70]:
# Standardized features:
standardized_features = ['Favorites','Retweets','Compound','Negative','Positive','Neutral','Bitcoin_SVI']     
non_standardized_features = list(set(feature_pool)-set(standardized_features))
    
# Get the scaler based on train set
scaler = preprocessing.StandardScaler().fit(X_train[standardized_features])
print('The mean and standard deviation of training set:', scaler.mean_, scaler.scale_)

# Standardize the features of train and test sets by the scaler of training set
X_train_std=pd.DataFrame(scaler.transform(X_train[standardized_features]))  # transform() return 'numpy.ndarray', not 'DataFrame' or 'Series'
X_train_nstd=pd.DataFrame(X_train[non_standardized_features])

X_test_std=pd.DataFrame(scaler.transform(X_test[standardized_features]))  # return 'numpy.ndarray', not 'DataFrame' or 'Series'
X_test_nstd=pd.DataFrame(X_test[non_standardized_features])

# Rename the columns of X_train_std and X_test_std
X_train_std.columns = X_train_std.columns.map(lambda x: standardized_features[x])
X_test_std.columns = X_test_std.columns.map(lambda x: standardized_features[x])

# Re-combine the normalized and non-normalized data together for both train ans test sets (3 pts)
X_train_std.reset_index(drop=True, inplace=True)
X_train_nstd.reset_index(drop=True, inplace=True)
X_train = pd.concat([X_train_std,X_train_nstd], sort=False,axis=1)
X_test_std.reset_index(drop=True, inplace=True)
X_test_nstd.reset_index(drop=True, inplace=True)
X_test = pd.concat([X_test_std,X_test_nstd], sort=False,axis=1)

# Update the order within feature pool
feature_pool = list(X_train.columns)

The mean and standard deviation of training set: [1.24277908e+03 1.93586401e+02 2.68943051e-01 2.57381881e-02
 1.15215826e-01 8.59050710e-01 1.38505088e+01] [1.60441676e+03 2.55471349e+02 2.22124955e-01 3.69852384e-02
 6.48696206e-02 7.46874187e-02 8.79317929e+00]

In [18]:
X_test.to_csv('../data/X_test.csv', index=False)

In [19]:
X_train.to_csv('../data/X_train.csv', index=False)

In [20]:
y_train.to_csv('../data/Y_train.csv', index=False)

In [21]:
y_test.to_csv('../data/Y_test.csv', index=False)