In [118]:
import pandas as pd

In [119]:
price_vol = pd.read_csv('../data/Price & Volume BTC.csv')
price_vol.head(10)

         Time     Open    Close     High      Low        Amount       Volume
0  2022-03-03  43896.8  42456.3  44088.0  41832.0   7550.686088  324545814.8
1  2022-03-02  44428.2  43896.9  45367.5  43332.8   7712.371474  340460526.5
2  2022-03-01  43174.8  44428.2  44966.0  42796.9  10184.794790  444858241.2
3  2022-02-28  37706.7  43179.8  44210.4  37446.5  14045.290600  564121052.5
4  2022-02-27  39117.3  37706.7  39864.0  36977.4  10079.638300  388368905.7
5  2022-02-26  39219.6  39119.1  40300.0  38560.3   7813.061179  306410979.9
6  2022-02-25  38320.9  39219.6  39695.0  38015.0   9925.502518  386047125.7
7  2022-02-24  37248.2  38320.9  39823.3  34325.0  18871.390610  680985023.6
8  2022-02-23  38229.6  37248.1  39285.2  37046.8   8656.548723  331098529.4
9  2022-02-22  37020.5  38229.6  38448.4  36333.1   8650.227539  324319840.5

In [120]:
tweets = pd.read_csv('../data/Tweets.csv')
tweets.head(10)

,Time,Favorites,Retweets,Text,Clean Tweet,Compound,Negative,Positive,Neutral
0,2022-03-03,3139,466,U.S. senator Ted Cruz: Texas should be ground ...,U.S. senator Ted Cruz: Texas should be ground ...,0.0000,0.000,0.000,1.000
1,2022-03-03,125,16,CleanSpark announced their #bitcoin production...,"CleanSpark announced their production for , ...",0.0000,0.000,0.000,1.000
2,2022-03-03,2070,228,NEW: #Bitcoin miner CleanSpark produced 276 BT...,NEW: miner CleanSpark produced BTC worth mo...,0.2263,0.000,0.160,0.840
3,2022-03-03,48,12,“The first phase was morphing GoFundMe to use ...,“ first phase was morphing GoFundMe to use cr...,0.3182,0.000,0.069,0.931
4,2022-03-03,60,16,The stablecoin supply ratio has risen over the...,stablecoin supply ratio has risen over the p...,-0.2263,0.049,0.000,0.951
5,2022-03-03,64,24,There's a growing trend of exclusive crypto so...,re's a growing trend of exclusive crypto soci...,0.2960,0.000,0.084,0.916
6,2022-03-03,68,21,Calls to “crack down” on crypto are imprecise....,Calls to “crack down” on crypto are imprecise....,0.5859,0.000,0.138,0.862
7,2022-03-03,60,22,"“It’s the first step in the crawl, walk, run.”...","“ ’s the first step in the crawl, walk, run.” ...",0.0000,0.000,0.000,1.000
8,2022-03-03,80,20,MARKET WRAP: Bitcoin $BTC and other cryptos tr...,MARKET WRAP: B coin $BTC and other cryptos tra...,0.2023,0.143,0.133,0.724
9,2022-03-03,88,40,The Russia-Ukraine conflict has sent crude oil...,Russia-Ukraine conflict has sent crude oil t...,-0.7184,0.240,0.000,0.760

In [121]:
funding_rates_1600 = pd.read_csv('../data/Funding Rates BTCUSDT 1600.csv')
funding_rates_1600.head(10)

         Time Funding Rate 1600
0  2022-03-03             0.01%
1  2022-03-02             0.01%
2  2022-03-01             0.01%
3  2022-02-28            -0.01%
4  2022-02-27             0.00%
5  2022-02-26             0.01%
6  2022-02-25             0.01%
7  2022-02-24            -0.02%
8  2022-02-23            -0.01%
9  2022-02-22             0.00%

In [122]:
funding_rates_0800 = pd.read_csv('../data/Funding Rates BTCUSDT 0800.csv')
funding_rates_0800.head(10)

         Time Funding Rate 0800
0  2022-03-03             0.01%
1  2022-03-02             0.00%
2  2022-03-01             0.01%
3  2022-02-28            -0.02%
4  2022-02-27             0.01%
5  2022-02-26             0.01%
6  2022-02-25             0.01%
7  2022-02-24             0.01%
8  2022-02-23             0.00%
9  2022-02-22            -0.01%

In [123]:
funding_rates_0000 = pd.read_csv('../data/Funding Rates BTCUSDT 0000.csv')
funding_rates_0000.head(10)

         Time Funding Rate 0000
0  2022-03-03             0.01%
1  2022-03-02             0.00%
2  2022-03-01            -0.01%
3  2022-02-28             0.00%
4  2022-02-27             0.01%
5  2022-02-26             0.00%
6  2022-02-25            -0.01%
7  2022-02-24             0.00%
8  2022-02-23             0.00%
9  2022-02-22             0.00%

In [124]:
google = pd.read_csv('../data/Google.csv')
google.head(10)

         Time  Bitcoin_SVI  Cryptocurrency_SVI
0  2022-03-03        13.84               24.08
1  2022-03-02        15.61               26.33
2  2022-03-01        17.67               29.34
3  2022-02-28        16.20               24.83
4  2022-02-27        12.96               21.07
5  2022-02-26        14.37               16.17
6  2022-02-25        18.61               19.52
7  2022-02-24        27.43               23.42
8  2022-02-23        14.37               20.07
9  2022-02-22        16.98               22.86

In [125]:
transactions = pd.read_csv('../data/Transactions.csv')
transactions.head(10)

         Time  Transactions
0  2022-03-03      268244.0
1  2022-03-02      288657.0
2  2022-03-01      280634.0
3  2022-02-28      270918.0
4  2022-02-27      211164.0
5  2022-02-26      220423.0
6  2022-02-25      260340.0
7  2022-02-24      254139.0
8  2022-02-23      251275.0
9  2022-02-22      260265.0

In [126]:
unique_addresses = pd.read_csv('../data/Unique Addresses.csv')
unique_addresses.head(10)

         Time  No. of Unique Addresses
0  2022-03-03                 701198.0
1  2022-03-02                 731603.0
2  2022-03-01                 722863.0
3  2022-02-28                 702483.0
4  2022-02-27                 583361.0
5  2022-02-26                 582374.0
6  2022-02-25                 687447.0
7  2022-02-24                 676575.0
8  2022-02-23                 622682.0
9  2022-02-22                 647191.0

In [127]:
active_addresses = pd.read_csv('../data/Active Addresses.csv')
active_addresses.head(10)

         Time  No. of Active Addresses
0  2022-03-03                  1011448
1  2022-03-02                  1091796
2  2022-03-01                  1065354
3  2022-02-28                   981066
4  2022-02-27                   768705
5  2022-02-26                   818914
6  2022-02-25                   936543
7  2022-02-24                   958866
8  2022-02-23                   859810
9  2022-02-22                   886571

In [128]:
df = pd.merge(price_vol, funding_rates_0000, on=['Time'])
df = pd.merge(df, funding_rates_0800, on=['Time'])
df = pd.merge(df, funding_rates_1600, on=['Time'])
df = pd.merge(df, google, on=['Time'])
df = pd.merge(df, active_addresses, on=['Time'])
df = pd.merge(df, unique_addresses, on=['Time'])
df = pd.merge(df, transactions, on=['Time'])
df.head(10)

,Time,Open,Close,High,Low,Amount,Volume,Funding Rate 0000,Funding Rate 0800,Funding Rate 1600,Bitcoin_SVI,Cryptocurrency_SVI,No. of Active Addresses,No. of Unique Addresses,Transactions
0,2022-03-03,43896.8,42456.3,44088.0,41832.0,7550.686088,324545814.8,0.01%,0.01%,0.01%,13.84,24.08,1011448,701198.0,268244.0
1,2022-03-02,44428.2,43896.9,45367.5,43332.8,7712.371474,340460526.5,0.00%,0.00%,0.01%,15.61,26.33,1091796,731603.0,288657.0
2,2022-03-01,43174.8,44428.2,44966.0,42796.9,10184.794790,444858241.2,-0.01%,0.01%,0.01%,17.67,29.34,1065354,722863.0,280634.0
3,2022-02-28,37706.7,43179.8,44210.4,37446.5,14045.290600,564121052.5,0.00%,-0.02%,-0.01%,16.20,24.83,981066,702483.0,270918.0
4,2022-02-27,39117.3,37706.7,39864.0,36977.4,10079.638300,388368905.7,0.01%,0.01%,0.00%,12.96,21.07,768705,583361.0,211164.0
5,2022-02-26,39219.6,39119.1,40300.0,38560.3,7813.061179,306410979.9,0.00%,0.01%,0.01%,14.37,16.17,818914,582374.0,220423.0
6,2022-02-25,38320.9,39219.6,39695.0,38015.0,9925.502518,386047125.7,-0.01%,0.01%,0.01%,18.61,19.52,936543,687447.0,260340.0
7,2022-02-24,37248.2,38320.9,39823.3,34325.0,18871.390610,680985023.6,0.00%,0.01%,-0.02%,27.43,23.42,958866,676575.0,254139.0
8,2022-02-23,38229.6,37248.1,39285.2,37046.8,8656.548723,331098529.4,0.00%,0.00%,-0.01%,14.37,20.07,859810,622682.0,251275.0
9,2022-02-22,37020.5,38229.6,38448.4,36333.1,8650.227539,324319840.5,0.00%,-0.01%,0.00%,16.98,22.86,886571,647191.0,260265.0

In [129]:
print(df.isna().sum())

Time                       0
Open                       0
Close                      0
High                       0
Low                        0
Amount                     0
Volume                     0
Funding Rate 0000          0
Funding Rate 0800          0
Funding Rate 1600          0
Bitcoin_SVI                0
Cryptocurrency_SVI         0
No. of Active Addresses    0
No. of Unique Addresses    2
Transactions               0
dtype: int64

In [130]:
tweets = tweets.groupby(by="Time").mean()
tweets = tweets.reset_index()

In [131]:
tweets

,Time,Favorites,Retweets,Compound,Negative,Positive,Neutral
0,2020-03-12,5.000000,2.000000,0.077200,0.091000,0.100000,0.809000
1,2020-03-17,98.000000,96.000000,0.401900,0.000000,0.114000,0.886000
2,2020-03-20,125.000000,95.000000,0.476700,0.000000,0.146000,0.854000
3,2020-03-30,3.000000,0.000000,0.080300,0.061000,0.071000,0.869000
4,2020-03-31,186.000000,142.000000,0.659700,0.000000,0.278000,0.722000
...,...,...,...,...,...,...,...
267,2022-02-27,128.000000,30.000000,0.106867,0.022667,0.055000,0.922333
268,2022-02-28,332.333333,61.861111,0.135383,0.033806,0.073306,0.892861
269,2022-03-01,353.514286,61.028571,0.006329,0.062714,0.070200,0.867114
270,2022-03-02,534.200000,90.366667,0.068437,0.037100,0.068967,0.893967
271,2022-03-03,443.269231,79.576923,0.109327,0.036269,0.063731,0.900000

In [132]:
df = pd.merge(df, tweets, on=['Time'], how='outer')
df = df[['Time','Open', 'Close', 'High', 'Low', 'Amount', 'Funding Rate 0000', 'Funding Rate 0800', 'Funding Rate 1600', 'Bitcoin_SVI', 'Cryptocurrency_SVI', 'No. of Active Addresses', 'No. of Unique Addresses', 'Transactions', 'Favorites', 'Retweets', 'Compound', 'Negative', 'Positive', 'Neutral']]
df.head(10)

,Time,Open,Close,High,Low,Amount,Funding Rate 0000,Funding Rate 0800,Funding Rate 1600,Bitcoin_SVI,Cryptocurrency_SVI,No. of Active Addresses,No. of Unique Addresses,Transactions,Favorites,Retweets,Compound,Negative,Positive,Neutral
0,2022-03-03,43896.8,42456.3,44088.0,41832.0,7550.686088,0.01%,0.01%,0.01%,13.84,24.08,1011448,701198.0,268244.0,443.269231,79.576923,0.109327,0.036269,0.063731,0.900000
1,2022-03-02,44428.2,43896.9,45367.5,43332.8,7712.371474,0.00%,0.00%,0.01%,15.61,26.33,1091796,731603.0,288657.0,534.200000,90.366667,0.068437,0.037100,0.068967,0.893967
2,2022-03-01,43174.8,44428.2,44966.0,42796.9,10184.794790,-0.01%,0.01%,0.01%,17.67,29.34,1065354,722863.0,280634.0,353.514286,61.028571,0.006329,0.062714,0.070200,0.867114
3,2022-02-28,37706.7,43179.8,44210.4,37446.5,14045.290600,0.00%,-0.02%,-0.01%,16.20,24.83,981066,702483.0,270918.0,332.333333,61.861111,0.135383,0.033806,0.073306,0.892861
4,2022-02-27,39117.3,37706.7,39864.0,36977.4,10079.638300,0.01%,0.01%,0.00%,12.96,21.07,768705,583361.0,211164.0,128.000000,30.000000,0.106867,0.022667,0.055000,0.922333
5,2022-02-26,39219.6,39119.1,40300.0,38560.3,7813.061179,0.00%,0.01%,0.01%,14.37,16.17,818914,582374.0,220423.0,863.800000,178.600000,0.131040,0.070000,0.085000,0.845000
6,2022-02-25,38320.9,39219.6,39695.0,38015.0,9925.502518,-0.01%,0.01%,0.01%,18.61,19.52,936543,687447.0,260340.0,453.100000,83.850000,0.136800,0.041950,0.079400,0.878650
7,2022-02-24,37248.2,38320.9,39823.3,34325.0,18871.390610,0.00%,0.01%,-0.02%,27.43,23.42,958866,676575.0,254139.0,69.958333,22.375000,-0.021021,0.074313,0.069271,0.856375
8,2022-02-23,38229.6,37248.1,39285.2,37046.8,8656.548723,0.00%,0.00%,-0.01%,14.37,20.07,859810,622682.0,251275.0,59.800000,19.485714,0.033834,0.051171,0.053629,0.895200
9,2022-02-22,37020.5,38229.6,38448.4,36333.1,8650.227539,0.00%,-0.01%,0.00%,16.98,22.86,886571,647191.0,260265.0,193.058824,36.411765,0.185906,0.045647,0.086588,0.867706